<phpunit bootstrap="./tests/phpunit-bootstrap.php" colors="true" backupGlobals="false" backupStaticAttributes="false">

    <testsuite name="caherrera/FullCsv Test Suite">
        <directory suffix=".php">./tests/FullCsv</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">src/FullCsv/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="testdox-html" target="./tests/log/testdox.html" />
    </logging>
</phpunit>