<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">

    <testsuite name="caherrera/FullCsv Test Suite">
        <directory suffix="Test.php">./tests/FullCsv</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="testdox-html" target="./tests/log/testdox.html" />
    </logging>
</phpunit>